.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
build.gradle
OpenCVEngineInterface.java
BuildConfig.java
R.java
values.json
AndroidManifest.xml
R.txt
values.xml
classes.jar
BuildConfig.class
R$attr.class
R$id.class
R$styleable.class
R.class
AsyncServiceHelper$1.class
AsyncServiceHelper$2.class
AsyncServiceHelper$3$1.class
AsyncServiceHelper$3$2.class
AsyncServiceHelper$3.class
AsyncServiceHelper.class
BaseLoaderCallback$1.class
BaseLoaderCallback$2.class
BaseLoaderCallback$3.class
BaseLoaderCallback$4.class
BaseLoaderCallback$5.class
BaseLoaderCallback$6.class
BaseLoaderCallback$7.class
BaseLoaderCallback.class
Camera2Renderer$1.class
Camera2Renderer$2.class
Camera2Renderer.class
CameraBridgeViewBase$1.class
CameraBridgeViewBase$CvCameraViewFrame.class
CameraBridgeViewBase$CvCameraViewListener.class
CameraBridgeViewBase$CvCameraViewListener2.class
CameraBridgeViewBase$CvCameraViewListenerAdapter.class
CameraBridgeViewBase$ListItemAccessor.class
CameraBridgeViewBase.class
CameraGLRendererBase.class
CameraGLSurfaceView$CameraTextureListener.class
CameraGLSurfaceView.class
CameraRenderer.class
FpsMeter.class
InstallCallbackInterface.class
JavaCameraView$1.class
JavaCameraView$CameraWorker.class
JavaCameraView$JavaCameraFrame.class
JavaCameraView$JavaCameraSizeAccessor.class
JavaCameraView.class
LoaderCallbackInterface.class
OpenCVLoader.class
StaticHelper.class
Utils.class
Calib3d.class
StereoBM.class
StereoMatcher.class
StereoSGBM.class
Algorithm.class
Core$MinMaxLocResult.class
Core.class
CvException.class
CvType.class
DMatch.class
KeyPoint.class
Mat.class
MatOfByte.class
MatOfDMatch.class
MatOfDouble.class
MatOfFloat.class
MatOfFloat4.class
MatOfFloat6.class
MatOfInt.class
MatOfInt4.class
MatOfKeyPoint.class
MatOfPoint.class
MatOfPoint2f.class
MatOfPoint3.class
MatOfPoint3f.class
MatOfRect.class
Point.class
Point3.class
Range.class
Rect.class
RotatedRect.class
Scalar.class
Size.class
TermCriteria.class
TickMeter.class
OpenCVEngineInterface$Stub$Proxy.class
OpenCVEngineInterface$Stub.class
OpenCVEngineInterface.class
AKAZE.class
AgastFeatureDetector.class
BFMatcher.class
BOWImgDescriptorExtractor.class
BOWKMeansTrainer.class
BOWTrainer.class
BRISK.class
DescriptorExtractor.class
DescriptorMatcher.class
FastFeatureDetector.class
Feature2D.class
FeatureDetector.class
Features2d.class
FlannBasedMatcher.class
GFTTDetector.class
KAZE.class
MSER.class
ORB.class
Params.class
Imgcodecs.class
CLAHE.class
Imgproc.class
LineSegmentDetector.class
Moments.class
Subdiv2D.class
ANN_MLP.class
Boost.class
DTrees.class
EM.class
KNearest.class
LogisticRegression.class
Ml.class
NormalBayesClassifier.class
RTrees.class
SVM.class
SVMSGD.class
StatModel.class
TrainData.class
BaseCascadeClassifier.class
CascadeClassifier.class
HOGDescriptor.class
Objdetect.class
AlignExposures.class
AlignMTB.class
CalibrateCRF.class
CalibrateDebevec.class
CalibrateRobertson.class
MergeDebevec.class
MergeExposures.class
MergeMertens.class
MergeRobertson.class
Photo.class
Tonemap.class
TonemapDrago.class
TonemapDurand.class
TonemapMantiuk.class
TonemapReinhard.class
Converters.class
BackgroundSubtractor.class
BackgroundSubtractorKNN.class
BackgroundSubtractorMOG2.class
DenseOpticalFlow.class
DualTVL1OpticalFlow.class
FarnebackOpticalFlow.class
KalmanFilter.class
SparseOpticalFlow.class
SparsePyrLKOpticalFlow.class
Video.class
VideoCapture.class
VideoWriter.class
Videoio.class
tag.txt
dependency.store
compile-file-map.properties
merger.xml
resources-debug-androidTest.ap_
openCVLibrary320-debug.aar
openCVLibrary320-release.aar
lint.xml
openCVLibrary320.iml
OpenCVEngineInterface.aidl
AsyncServiceHelper.java
BaseLoaderCallback.java
Camera2Renderer.java
CameraBridgeViewBase.java
CameraGLRendererBase.java
CameraGLSurfaceView.java
CameraRenderer.java
FpsMeter.java
InstallCallbackInterface.java
JavaCameraView.java
LoaderCallbackInterface.java
OpenCVLoader.java
StaticHelper.java
Utils.java
Calib3d.java
StereoBM.java
StereoMatcher.java
StereoSGBM.java
Algorithm.java
Core.java
CvException.java
CvType.java
DMatch.java
KeyPoint.java
Mat.java
MatOfByte.java
MatOfDMatch.java
MatOfDouble.java
MatOfFloat.java
MatOfFloat4.java
MatOfFloat6.java
MatOfInt.java
MatOfInt4.java
MatOfKeyPoint.java
MatOfPoint.java
MatOfPoint2f.java
MatOfPoint3.java
MatOfPoint3f.java
MatOfRect.java
Point.java
Point3.java
Range.java
Rect.java
RotatedRect.java
Scalar.java
Size.java
TermCriteria.java
TickMeter.java
AKAZE.java
AgastFeatureDetector.java
BFMatcher.java
BOWImgDescriptorExtractor.java
BOWKMeansTrainer.java
BOWTrainer.java
BRISK.java
DescriptorExtractor.java
DescriptorMatcher.java
FastFeatureDetector.java
Feature2D.java
FeatureDetector.java
Features2d.java
FlannBasedMatcher.java
GFTTDetector.java
KAZE.java
MSER.java
ORB.java
Params.java
Imgcodecs.java
CLAHE.java
Imgproc.java
LineSegmentDetector.java
Moments.java
Subdiv2D.java
ANN_MLP.java
Boost.java
DTrees.java
EM.java
KNearest.java
LogisticRegression.java
Ml.java
NormalBayesClassifier.java
RTrees.java
SVM.java
SVMSGD.java
StatModel.java
TrainData.java
BaseCascadeClassifier.java
CascadeClassifier.java
HOGDescriptor.java
Objdetect.java
AlignExposures.java
AlignMTB.java
CalibrateCRF.java
CalibrateDebevec.java
CalibrateRobertson.java
MergeDebevec.java
MergeExposures.java
MergeMertens.java
MergeRobertson.java
Photo.java
Tonemap.java
TonemapDrago.java
TonemapDurand.java
TonemapMantiuk.java
TonemapReinhard.java
Converters.java
BackgroundSubtractor.java
BackgroundSubtractorKNN.java
BackgroundSubtractorMOG2.java
DenseOpticalFlow.java
DualTVL1OpticalFlow.java
FarnebackOpticalFlow.java
KalmanFilter.java
SparseOpticalFlow.java
SparsePyrLKOpticalFlow.java
Video.java
VideoCapture.java
VideoWriter.java
Videoio.java
attrs.xml
/app/src/main/jniLibs/armeabi-v7a/libopencv_java3.so
/app/src/main/jniLibs/armeabi-v7a/libwrapper.so
/app/src/main/obj/local/armeabi-v7a/libopencv_java3.so
/app/src/main/obj/local/armeabi-v7a/libwrapper.so
/app/src/main/obj/local/armeabi-v7a/objs/wrapper/NativeWrapper.o
/app/src/main/obj/local/armeabi-v7a/objs/wrapper/NativeWrapper.o.d
/app/src/main/obj/local/armeabi-v7a/objs/wrapper/Utils.o
/app/src/main/obj/local/armeabi-v7a/objs/wrapper/Utils.o.d
